* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "DM Sans";
}

#starter-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#start-page {
    font-family: "Poppins";
    font-size:60px;    
    color: black; 
    border-style: groove;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#start-button {
    font-family: "DM Sans";
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions{
    font-family: "DM Sans";
    font-size:18px;    
    color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.questionbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    border-style: groove;
    border-radius: 5px;
}

#countdowntimer{
    font-family: "DM SANS";
    font-size: 18px;
    color: black;
    text-align: right;
    align-items: right;
    display: flex;
}

.question{
    font-family: "Poppins";
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;

}

.questionbutton{
    font-family: "DM Sans";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 15px;
    width: 100%;
}

#endpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    border-style: groove;
    border-radius: 5px;
}

.header{
    font-family: "Poppins";
    font-size:60px;    
    color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #playerInitials {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: groove;
    border-radius: 5px;
    
  }
  
  .scoreTime{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 50px;
    padding: 20px;
    margin: 20px;
  }

 #highScoresList{
    list-style-type: none;
 } 

#highscorespage{
    font-family: "DM SANS";
    font-size: 20px;
    color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}